<div class="form-group">
    <label for="city-name">Поиск по городу</label>
    <input type="text" class="form-control" id="city-name" aria-describedby="city-name-Help">
    <small id="city-name-Help" class="form-text text-muted">Введите название города, пример: cit_Gbqw4</small>
</div>
<button id="search-by-city" class="btn btn-primary">Искать</button>